#CHEESY_FOOTER {
	color: rgb(112, 111, 111);
	height: auto;
	width: 2056px;
	background: rgba(0, 0, 0, 0) url("https://image.ibb.co/gesMRx/footer2.jpg")
	scroll 100% 100% / auto padding-box border-box;
	background-repeat: no-repeat;
	background-size: auto;
}

#TEXT_BIRD {
	color: black;
	letter-spacing: 6.6px;
	text-align: center;
	text-shadow: rgba(1, 26, 68, 0.53) 0px 1px 0px;
	text-transform: uppercase;
	font: normal normal 400 normal 22px / normal Caecilia, Georgia, serif;
	padding: 125px 20px 0px;
	margin-top: 5em;
}

#copyright {
	margin: 1em;
}

footer {
	margin: 0 auto;
}
