body {
	background-image:url("/img/mainBackground.jpg");
	font-family: 'Open Sans', sans-serif;
}

#doctorBody {
	background-image: url("/img/doctorBackground.jpeg") !important;
	background-repeat: no-repeat;
	/* background-image: url("https://www.planwallpaper.com/static/images/desktop-backgrounds1_wvNeWqW.jpg"); */
	padding: 5px;
	color: #dc3545;
	font-size: 0.95em;
}

#nurseLink, #patientLink, #doctorLink {
	text-align: left;
	color: white;
	background-color: rgba(255,255,255, 0.1);
	border-radius: 10px;
	font-size-adjust: 0.58;
	padding: 0.2em 0;
	margin: 0.1em 0;
	padding-left: 10px;
}

#searchPersonLink {
	text-align: left;
	color: white;
	background-color: rgba(255,255,255, 0.1);
	border-radius: 10px;
	font-size-adjust: 0.58;
	padding: 0.2em 0;
	margin: 0.1em 0;
	padding-left: 10px;
	padding-right: 10px;
}

#doctorNoteArea, #doctorBody .card {
	border-radius: 15px;
	background-color: rgba(255,255,255, 0.1);
	color: white;
}

#doctorBody .card{
	background-color: rgba(255,255,255, 0.1);
	color: #f5f6fa;
	margin-bottom: 15px;
}

.navbar {
	text-align: center;
	list-style-type: none;
	border-top-left-radius: 1em;
	border-top-right-radius: 1em;
	background: rgba(0,0,0, 0.7);
	margin: 0 1em;
	padding-top: 1.5em;
}

#search-button{
	border-left: 1em !important;
}

#search-bar{
	width: 30em;
	margin-left: 5.5em!important;
}

#doctorBody .fa-plus{
	font-size: 3em;
	color: red;
	margin-right: 0.5em;
	margin-left: -0.1em;
}

#brand {
	color: red;
}

#patientsIcon, #nursesIcon, #doctorsIcon{
	font-size: 1.4em;
	margin-left: 0.25em;
}

#sidebarTitle {
	margin-left: 1.5em;
}

#patientsList, #nursesList, #doctorList {
	border: none !important;
	padding: 0 !important;
	margin: 5px;
}

#searchPersonList {
	border: none !important;
	padding: 0 !important;
	margin: 5px;
}

#nursesIcon, #doctorsIcon{
	padding-top: 20px;
}

.list-group-item, #patient {
	background: #f5f6fa;
	border: none !important;
	padding: 0 !important;
	margin: 3px;
}

#loggedin {
	margin-right: 1em;
	color: white;
}

#welcomeName h1 {
	font-size: 3rem;
	text-align: center;
}

#nextAppointments h4, #nextShifts h4 {
	margin-top: 5%;
	text-decoration: underline;
}

h4{
	display: inline-block;
}

.td, .th {
	border-radius:15px !important;
}

#table-head{
	font-size-adjust: 1;
	text-decoration: underline;
}

/* -------------------------------------CHEESY FOOTER------------------------------------- */

#CHEESY_FOOTER {
	color: rgb(112, 111, 111);
	height: auto;
	width: 2056px;
	background: rgba(0, 0, 0, 0) url("https://image.ibb.co/gesMRx/footer2.jpg")
	scroll 100% 100% / auto padding-box border-box;
	background-repeat: no-repeat;
	background-size: auto;
}

#TEXT_BIRD {
	color: black;
	letter-spacing: 6.6px;
	text-align: center;
	text-shadow: rgba(1, 26, 68, 0.53) 0px 1px 0px;
	text-transform: uppercase;
	font: normal normal 400 normal 22px / normal Caecilia, Georgia, serif;
	padding: 125px 20px 0px;
	margin-top: 5em;
}

/* ----------------------------------END OF CHEESY FOOTER------------------------------------- */

#sticky-sidebar {
	max-width: 14em!important;
}

#main {
	margin-right: 6em;
}

.wrapper {
	margin: 0 1em;
	background: rgba(0,0,0, 0.7);
	color: white;
	border-bottom-left-radius: 1em;
	border-bottom-right-radius: 1em;
	padding-top: 2em;
}

#navbarWrapperHr {
	width: 98%;
	background: rgba(255,255,255,0.2);
	margin: 0em auto;
}

#backgroundHr {
	margin: 0 1em;
	padding-top: 1em;
	background: rgba(0,0,0, 0.7);
}
#vr {
	border-left: 0.1em solid rgba(255,255,255,0.1);
}

#copyright {
	margin: 1em;
}

footer {
	margin: 0 auto;
}

.indexBody .input-group {
	margin-top: 5%;
}

.indexBody .logo {
	margin: 5% 0 2% 0;
	text-align: center;
	font-size: 4rem;
	color: red;
}

.indexBody .card-header, .adminBody .card-header {
	background-color: rgba(255, 255, 255, 0);
	border: none;
	padding-bottom: 0;
	color: white;
}

.indexBody .card-body, .adminBody .card-body {
	padding-top: 0;
}

.indexBody .maincard, .adminBody .card {
	background-color: rgba(0, 0, 0, 0.6);
	font-family: 'Open Sans', sans-serif;
	border-radius: 1em;
}

.indexBody .card-title, .adminBody .card-title {
	font-size: 2em;
	line-height: 1;
	text-align: center;
	margin-top: 1em;
}

.indexBody #btn-login, .adminBody #btn-login {
	margin-top: 2em;
	width: 100%;
	height: 3em;
}

.indexBody #btn-login-window, .adminBody #btn-login-window {
	padding-left: 0;
	padding-right: 0;
}

.indexBody .form-control, .indexBody .form-control:focus, .adminBody .form-control, .adminBody .form-control:focus  {
	border-top: none;
	border-right: none;
	border-left: none;
	border-bottom: 0.2em ridge #3399cc;
	border-radius: 0;
	background: transparent;
	color: white;

}

.indexBody .fa-plus{
	font-size: 1em;
	color: red;
	margin-right: 0;
}

.indexBody input::-webkit-input-placeholder, .adminBody input::-webkit-input-placeholder {
	color: rgba(255, 255, 255, 0.6)!important;
}

@-webkit-keyframes autofill {
	to {
		color: #666;
		background: transparent;
	}
}

.indexBody input:-webkit-autofill, .adminBody input:-webkit-autofill {
	-webkit-animation-name: autofill;
	-webkit-animation-fill-mode: both;
	-webkit-text-fill-color: white;
}

#adminOption {
	background-color: #334acc;
}

.adminLabel {
	font-weight: bold;
	color: white;
}
