doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    title Hospital Horror
    link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous")
    style(type='text/css')
            include css/style.css
  body#clrblk.adminBody
    .container
      #loginbox.mainbox.col-md-6.col-md-offset-3.col-sm-8.col-sm-offset-2.mx-auto(style="margin-top:50px;")
        .card
          .card-header
            .card-title Register user
            // <div style="float:right; font-size: 80%; position: relative; top:-10px"><a href="#">Forgot password?</a></div>
            p= status
          .card-body(style="padding-top:30px")
            form#registerform.form-horizontal(role="form" method="post" action="/register")
              .form-group(style="margin: 0px 5px 25px 5px")
                label.adminLabel(labelfor="sel1") User type
                select#sel1.form-control(name="usertype")
                  option#adminOption Doctor
                  option#adminOption Nurse
                  option#adminOption Secretary
              .form-group(style="margin: 0px 5px 25px 5px")
                label.adminLabel Username
                input.form-control(type="username" name="username" placeholder="Username")
              .form-group(style="margin: 0px 5px 25px 5px")
                label.adminLabel Password
                input.form-control(type="password" name="password" placeholder="Password")
              .form-group(style="margin: 0px 5px 25px 5px")
                label.adminLabel First name
                input.form-control(type="text" name="firstname" placeholder="Firstname")
              .form-group(style="margin: 0px 5px 25px 5px")
                label.adminLabel Last name
                input.form-control(type="text" name="lastname" placeholder="Lastname")
              .form-group(style="margin: 0px 5px 25px 5px")
                label.adminLabel Phone
                input.form-control(type="text" name="phone" placeholder="Phone")
              .form-group(style="margin: 0px 5px 25px 5px")
                label.adminLabel Email
                input.form-control(type="email" name="email" placeholder="Email")
              .form-group(style="margin: 0px 5px 25px 5px")
                label.adminLabel Date of birth                
                input.form-control(type="date" value="1980-08-19" name="dateofbirth")          
              .form-group(style="margin-top:10px")
                  // Button
                  .col-sm-12.controls#btn-login-window
                    button#btn-login.btn.btn-success(type="submit") Submit 
              