doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    title Hospital Horror
    link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous")
  body#clrblk
    .container
      #loginbox.mainbox.col-md-6.col-md-offset-3.col-sm-8.col-sm-offset-2.mx-auto(style="margin-top:50px;")
        .card
          .card-header
            .card-title Register user
            // <div style="float:right; font-size: 80%; position: relative; top:-10px"><a href="#">Forgot password?</a></div>
            p= status
          .card-body(style="padding-top:30px")
            form#registerform.form-horizontal(role="form" method="post" action="/register")
              .form-group(style="margin: 0px 5px 25px 5px")
                label(for="sel1") User type
                select#sel1.form-control(name="usertype")
                  option Doctor
                  option Nurse
                  option Secretary
              .form-group(style="margin: 0px 5px 25px 5px")
                label(for="exampleInputEmail1") Username
                input.form-control(type="username" name="username" placeholder="Username")
              .form-group(style="margin: 0px 5px 25px 5px")
                label(for="exampleInputPassword1") Password
                input.form-control(type="password" name="password" placeholder="Password")
              .form-group(style="margin: 0px 5px 25px 5px")
                label(for="exampleInputEmail1") Firstname
                input.form-control(type="text" name="firstname" placeholder="Firstname")
              .form-group(style="margin: 0px 5px 25px 5px")
                label(for="exampleInputEmail1") Lastname
                input.form-control(type="text" name="lastname" placeholder="Lastname")
              .form-group(style="margin: 0px 5px 25px 5px")
                label(for="exampleInputEmail1") Phone
                input.form-control(type="text" name="phone" placeholder="Phone")
              .form-group(style="margin: 0px 5px 25px 5px")
                label(for="exampleInputEmail1") Email
                input.form-control(type="email" name="email" placeholder="Email")
              .form-group(style="margin: 0px 5px 25px 5px")
                label.col-2.col-form-label(for="example-date-input") Date
                .col-10
                  input.form-control(type="date" value="2011-08-19" name="dateofbirth")
                .input-group
                  //
                    <div class="checkbox">
                    <label>
                    <input id="login-remember" type="checkbox" name="remember" value="1"> Remember me
                    </label>
                    </div>
                .form-group(style="margin-top:10px")
                  // Button
                  .col-sm-12.controls
                    button#btn-login.btn.btn-success(type="submit") Submit 
                //
                  <div class="form-group">
                  <div class="col-md-12 control">
                  <div style="border-top: 1px solid#888; padding-top:15px; font-size:85%" >
                  To be linked to, after admin authentication has been implemented!
                  <a href="signup.js">
                  Register User
                  </a>
                  </div>
                  </div>
                  </div>
