doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    title Hospital Horror
    link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous")
    style(type='text/css')
            include css/style.css
  body#clrblk.adminBody
    .container
      #loginbox.mainbox.col-md-6.col-md-offset-3.col-sm-8.col-sm-offset-2.mx-auto
        .card
          .card-header
            .card-title Register user
              form.admin-logout-button(action='/logout', method='post')
                input(type='hidden')
                button(class='btn btn-danger', type='submit') Logout
            // <div style="float:right; font-size: 80%; position: relative; top:-10px"><a href="#">Forgot password?</a></div>
            p= status
          .card-body
            form#registerform.form-horizontal(role="form" method="post" action="/register")
              .form-group
                label.formLabel(labelfor="sel1") User type
                select#sel1.form-control.inputForm(name="usertype" onchange='showDoctorType()')
                  option#selectOption Doctor
                  option#selectOption Nurse
                  option#selectOption Secretary
              .form-group
                  label.formLabel(for="sel2" id="speciality") Speciality
                  console.log(speciality)
                  select#sel2.form-control.inputForm(name="speciality")
                    each s in speciality 
                      option#selectOption(value=s) #{s}
              .form-group
                label.formLabel Username
                input.form-control.inputForm(type="username" name="username" placeholder="Username")
              .form-group
                label.formLabel Password
                input.form-control.inputForm(type="password" name="password" placeholder="Password")
              .form-group
                label.formLabel First name
                input.form-control.inputForm(type="text" name="firstname" placeholder="Firstname")
              .form-group
                label.formLabel Last name
                input.form-control.inputForm(type="text" name="lastname" placeholder="Lastname")
              .form-group
                label.formLabel Phone
                input.form-control.inputForm(type="text" name="phone" placeholder="Phone")
              .form-group
                label.formLabel Email
                input.form-control.inputForm(type="email" name="email" placeholder="Email")
              .form-group
                label.formLabel Date of birth
                input.form-control.inputForm(type="date" value="1980-08-19" name="dateofbirth")
              .form-group
                label.formLabel Image
                input.form-control.inputForm(type="text" name="image" placeholder="Image")
              .form-group
                  // Button
                  .col-sm-12.controls#btn-login-window
                    button#btn-login.btn.btn-success(type="submit") Submit 
script.
    function showDoctorType(){
    test = document.getElementById('sel1').value
    console.log(test);
    if (test == "Doctor"){
      document.getElementById("sel2").style.display = "block";
      document.getElementById("speciality").style.display = "block";
      }
      else{
        document.getElementById("sel2").style.display = "none";
      document.getElementById("speciality").style.display = "none";
      }
      };
              
