<html>

<head>
    <meta charset="UTF-8">
    <title>Hospital Horror</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" />
    <style>
        #main {
            border-left: 1px solid #333;
            padding-top: 5px;
        }

        .list-group-flush {
            padding: 0%;
        }

        .nav-item {
            width: 90px;
        }
    </style>
</head>

<body>
    <!-- Start of Navbar-->
    <nav class="navbar navbar-expand-lg navbar-light bg-light style=" background-color: #e3f2fd; "">
        <a class="navbar-brand" href="#">
            <img src="/res/logo.png" width="30" height="30" class="d-inline-block align-top" alt="https://i.imgur.com/plcG6D9.png"> MediSys
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item ">
                    <button class="btn btn-danger" type="button">Logout</button>
                </li>
                <li>
                    <button class="btn btn-outline-secondary disabled" type="button">Signed in as: Dr Derek Shepherd</button>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>
    </nav>
    <!-- End of Navbar-->

    <div class="wrapper col-m-4 sticky-top">

        <nav id="sidebar sticky-top">

            <!-- Sidebar Links -->
            <div class="container-fluid">
                <div class="row">
                    <div class="col-2 sidebar-sticky" id="sticky-sidebar">
                        <div class=" sticky-top">
                            <div class="nav flex-column">
                                <ul class="list-group-flush" id="patientsList">
                                    <h2>Patients</h2>
                                    <li class="list-group-item active">Mark Zuckerberg</li>
                                    <li class="list-group-item">Hillary Clinton</li>
                                    <li class="list-group-item">Donald Trump</li>
                                    <li class="list-group-item">Barack Ombama</li>
                                    <li class="list-group-item">Ted Cruz</li>
                                </ul>
                                <ul class="list-group-flush" id="patientsList">
                                    <h2>Nurses</h2>
                                    <li class="list-group-item active">Elon Musk</li>
                                    <li class="list-group-item">Julian Assange</li>
                                    <li class="list-group-item">Snoop Dogg</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col" id="main">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th scope="col">Patient Name</th>
                                    <th scope="col">Last Visit</th>
                                    <th scope="col">Allergies</th>
                                    <th scope="col">Status</th>
                                    <th scope="col">Blood Pressure</th>

                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th scope="row">Mark Zuckerberg</th>
                                    <td>11/04/2018</td>
                                    <td>Privacy</td>
                                    <td>Nervous</td>
                                    <td>120</td>
                                </tr>
                            </tbody>
                        </table>
                        <div class="form-group">
                            <label for="doctorNotes">
                                <strong>Doctor's Notes</strong>
                            </label>
                            <textarea class="form-control" id="exampleTextarea" rows="10" placeholder="Enter patient notes here..."></textarea>
                        </div>

                    </div>
                </div>
            </div>


</body>

</html>