doctype html
html
    head
        title Doctor
        link(href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css' rel='stylesheet')
        script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js' integrity='sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm' crossorigin='anonymous')
        script(src='https://code.jquery.com/jquery-3.3.1.slim.min.js' integrity='sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo' crossorigin='anonymous')
        script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js' integrity='sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ' crossorigin='anonymous')
        script(type='text/javascript' src='http://twitter.github.io/bootstrap/assets/js/bootstrap-transition.js')
        script(type='text/javascript' src='http://twitter.github.io/bootstrap/assets/js/bootstrap-collapse.js')
        link(rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css' integrity='sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4' crossorigin='anonymous')


        script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js')
        script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js')
        script(src='https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js')


        style(type='text/css').
            body {
                background: #F0F4F5;
                padding: 5px;
                color: #09425A;
                font-family: "Lucida Sans Unicode, Lucida Grande, sans-serif"	
            }

            #nurseLink, #patientLink{
                text-align: center;
                color: #09425A;
                background-color: #AABEC6;
                border-radius: 15px;
                font-size-adjust: 0.58;
            }

            #doctorNoteArea, .card {
                border-radius: 15px;
            }

            .card{
                background: #009ABB;
                color: #f5f6fa;
                margin-bottom: 15px;
            }

            .navbar {
                text-align: center;
                list-style-type: none;
            }

            #search-button{
                border-left: 1em !important;
            }

            #search-bar{
                width: 50%;
            }

            .fa-plus{
                font-size: 3em;
                color: #8C1515;
                margin-right: 15px;
            }

            #patientsIcon, #nursesIcon{
                font-size: 1.4em;
            }

            #sidebarTitle{
                margin-left: 15px;
            }

            #patientsList, #nursesList {
                border: none !important;
                padding: 0 !important;
                margin: 5px;
            }

            #nursesIcon{
                padding-top: 20px;
            }

            .list-group-item, #patient {
                background: #f5f6fa;
                border: none !important;
                padding: 0 !important;
                margin: 3px;
            }

            #loggedin {
                margin-right: 5px;
            }

            h4{
                display: inline-block;
            }

            .sticky-top, #main {
                margin-top: 20px;
            }

            .td, .th {
                border-radius:15px !important;
            }

            #table-head{
                font-size-adjust: 1;
                text-decoration: underline;
            }

            #DIV_1 {
                background-position: 50% 100%;
                bottom: 0px;
                color: rgb(112, 111, 111);
                height: 192px;
                left: 0px;
                position: relative;
                right: 0px;
                text-decoration: none solid rgb(112, 111, 111);
                top: 0px;
                width: 1056px;
                column-rule-color: rgb(112, 111, 111);
                perspective-origin: 528px 96px;
                transform-origin: 528px 96px;
                caret-color: rgb(112, 111, 111);
                background: rgba(0, 0, 0, 0) url("https://www.floridahospital.com/sites/all/themes/custom/fh_system/images/bg-slogan.jpg") no-repeat scroll 50% 100% / auto padding-box border-box;
                border: 0px none rgb(112, 111, 111);
                font: normal normal 400 normal 16px / 24px Helmet, Freesans, sans-serif;
                outline: rgb(112, 111, 111) none 0px;
            }/*#DIV_1*/

            #DIV_2 {
                bottom: 0px;
                color: rgb(112, 111, 111);
                height: 151px;
                left: 0px;
                position: relative;
                right: 0px;
                text-decoration: none solid rgb(112, 111, 111);
                top: 0px;
                width: 1056px;
                column-rule-color: rgb(112, 111, 111);
                perspective-origin: 528px 75.5px;
                transform-origin: 528px 75.5px;
                caret-color: rgb(112, 111, 111);
                border: 0px none rgb(112, 111, 111);
                font: normal normal 400 normal 16px / 24px Helmet, Freesans, sans-serif;
                outline: rgb(112, 111, 111) none 0px;
            }/*#DIV_2*/

            #DIV_3, #DIV_4 {
                color: rgb(112, 111, 111);
                height: 151px;
                text-decoration: none solid rgb(112, 111, 111);
                width: 1056px;
                column-rule-color: rgb(112, 111, 111);
                perspective-origin: 528px 75.5px;
                transform-origin: 528px 75.5px;
                caret-color: rgb(112, 111, 111);
                border: 0px none rgb(112, 111, 111);
                font: normal normal 400 normal 16px / 24px Helmet, Freesans, sans-serif;
                outline: rgb(112, 111, 111) none 0px;
            }/*#DIV_3, #DIV_4*/

            #DIV_3:after, #DIV_4:after {
                clear: both;
                color: rgb(112, 111, 111);
                content: '""';
                display: table;
                height: 0px;
                text-decoration: none solid rgb(112, 111, 111);
                visibility: hidden;
                width: 0px;
                column-rule-color: rgb(112, 111, 111);
                perspective-origin: 0px 0px;
                transform-origin: 0px 0px;
                caret-color: rgb(112, 111, 111);
                border: 0px none rgb(112, 111, 111);
                font: normal normal 400 normal 16px / 24px Helmet, Freesans, sans-serif;
                outline: rgb(112, 111, 111) none 0px;
            }/*#DIV_3:after, #DIV_4:after*/

            #DIV_3:before, #DIV_4:before {
                color: rgb(112, 111, 111);
                display: table;
                height: 0px;
                text-decoration: none solid rgb(112, 111, 111);
                width: 0px;
                column-rule-color: rgb(112, 111, 111);
                perspective-origin: 0px 0px;
                transform-origin: 0px 0px;
                caret-color: rgb(112, 111, 111);
                border: 0px none rgb(112, 111, 111);
                font: normal normal 400 normal 16px / 24px Helmet, Freesans, sans-serif;
                outline: rgb(112, 111, 111) none 0px;
            }/*#DIV_3:before, #DIV_4:before*/

            #H6_5 {
                color: rgb(255, 255, 255);
                height: 26px;
                letter-spacing: 6.6px;
                text-align: center;
                text-decoration: none solid rgb(255, 255, 255);
                text-shadow: rgba(1, 26, 68, 0.53) 0px 1px 0px;
                text-transform: uppercase;
                width: 1016px;
                column-rule-color: rgb(255, 255, 255);
                perspective-origin: 528px 75.5px;
                transform-origin: 528px 75.5px;
                caret-color: rgb(255, 255, 255);
                border: 0px none rgb(255, 255, 255);
                font: normal normal 400 normal 22px / normal Caecilia, Georgia, serif;
                margin: 0px;
                outline: rgb(255, 255, 255) none 0px;
                padding: 125px 20px 0px;
            }/*#H6_5*/

            #H6_5:after {
                color: rgb(255, 255, 255);
                content: '"®"';
                letter-spacing: 6.6px;
                text-align: center;
                text-decoration: none solid rgb(255, 255, 255);
                text-shadow: rgba(1, 26, 68, 0.53) 0px 1px 0px;
                text-transform: uppercase;
                vertical-align: top;
                column-rule-color: rgb(255, 255, 255);
                perspective-origin: 0px 0px;
                transform-origin: 0px 0px;
                caret-color: rgb(255, 255, 255);
                border: 0px none rgb(255, 255, 255);
                font: normal normal 400 normal 13.2px / normal Caecilia, Georgia, serif;
                outline: rgb(255, 255, 255) none 0px;
            }





    body
        block content
        hr
        footer
            p Copyright &copy; 2018 - MediSys
