doctype html
html
    head
        title Doctor
        link(href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css' rel='stylesheet')
        script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js' integrity='sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm' crossorigin='anonymous')
        script(src='https://code.jquery.com/jquery-3.3.1.slim.min.js' integrity='sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo' crossorigin='anonymous')
        script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js' integrity='sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ' crossorigin='anonymous')
        script(type='text/javascript' src='http://twitter.github.io/bootstrap/assets/js/bootstrap-transition.js')
        script(type='text/javascript' src='http://twitter.github.io/bootstrap/assets/js/bootstrap-collapse.js')
        link(rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css' integrity='sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4' crossorigin='anonymous')


        script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js')
        script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js')
        script(src='https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js')


        style(type='text/css').
            body {
                 
                background-image: url("https://image.ibb.co/hFO36x/Loop_mini.jpg");
                /* background-image: url("https://www.planwallpaper.com/static/images/desktop-backgrounds1_wvNeWqW.jpg"); */
                padding: 5px;
                color: #09425A;
                font-family: "Lucida Sans Unicode, Lucida Grande, sans-serif"	
            }

            #nurseLink, #patientLink{
                text-align: center;
                color: #09425A;
                background-color: #94C8F7;
                border-radius: 15px;
                font-size-adjust: 0.58;
            }

            #doctorNoteArea, .card {
                border-radius: 15px;
            }

            .card{
                background: #2C72CA;
                color: #f5f6fa;
                margin-bottom: 15px;
            }

            .navbar {
                text-align: center;
                list-style-type: none;
            }

            #search-button{
                border-left: 1em !important;
            }

            #search-bar{
                width: 50%;
            }

            .fa-plus{
                font-size: 3em;
                color: #8C1515;
                margin-right: 15px;
            }

            #patientsIcon, #nursesIcon{
                font-size: 1.4em;
            }

            #sidebarTitle{
                margin-left: 15px;
            }

            #patientsList, #nursesList {
                border: none !important;
                padding: 0 !important;
                margin: 5px;
            }

            #nursesIcon{
                padding-top: 20px;
            }

            .list-group-item, #patient {
                background: #f5f6fa;
                border: none !important;
                padding: 0 !important;
                margin: 3px;
            }

            #loggedin {
                margin-right: 5px;
            }

            h4{
                display: inline-block;
            }

            .sticky-top, #main {
                margin-top: 20px;
            }

            .td, .th {
                border-radius:15px !important;
            }

            #table-head{
                font-size-adjust: 1;
                text-decoration: underline;
            }


            /* -------------------------------------CHEESY FOOTER WITH BIRD------------------------------------- */

            #CHEESY_FOOTER {

                color: rgb(112, 111, 111);
                height: auto;
                width: 2056px;
                background: rgba(0, 0, 0, 0) url("https://image.ibb.co/gesMRx/footer2.jpg") 
                scroll 100% 100% / auto padding-box border-box;
                background-repeat: no-repeat;
                background-size: auto;
            }

            #TEXT_BIRD {
                color: black;
                letter-spacing: 6.6px;
                text-align: center;
                text-shadow: rgba(1, 26, 68, 0.53) 0px 1px 0px;
                text-transform: uppercase;
                font: normal normal 400 normal 22px / normal Caecilia, Georgia, serif;
                padding: 125px 20px 0px;
                margin-top: 300px;
                

            }

            /* ----------------------------------END OF CHEESY FOOTER WITH BIRD------------------------------------- */


    body
        block content
        hr
        footer
            p Copyright &copy; 2018 - MediSys
