mixin welcome_nurse(user)
	div#welcomeName
		h1 Welcome #{user.fullname}!
	div#nextShifts
		h4 Your next shifts
	table#nextAppointmentsTable.table.table-curved
		thead#table-head
			tr
				th(scope='col') Day
				th(scope='col') Time
		tbody
		each val in [1, 2, 3]
			tr
				- let day = moment().add(val,'d').format('ddd MMMM Do YYYY')
				- let time = moment().hours() + ':00 - ' + moment().add(8,'h').hours() + ':00'
				td #{day}
				td #{time}
