

			body {
				background: #f5f6fa;
				padding: 5px;
				color: #464978;
				font-family: "Lucida Sans Unicode, Lucida Grande, sans-serif"	
			}

			.indexBody  {
				background-image:url("https://pixabay.com/get/e832b6062df0013ed1534705fb0938c9bd22ffd41cb314439df5c87fae/abstract-1779540_1920.png")!important;
			}

			#nurseLink, #patientLink{
				text-align: center;
				color: #464978;
				background-color: white;
				border-radius: 15px;
				font-size-adjust: 0.58;
			}

			#doctorNoteArea, .card_doc {
				border-radius: 150px;
			}

			.card_doc{
				background: #5277E2;
				color: #f5f6fa;
				margin-bottom: 15px;
			}

			.navbar {
				text-align: center;
				list-style-type: none;
			}

			#search-button{
				border-left: 1em !important;
			}

			#search-bar{
				width: 50%;
			}

			.fa-plus{
				font-size: 2em;
				color: red;
				margin-right: 15px;
			}

			#patientsIcon, #nursesIcon{
				font-size: 1.4em;
			}

			#sidebarTitle{
				margin-left: 15px;
			}

			#patientsList, #nursesList {
				border: thin !important;
				padding: 0 !important;
				margin: 5px;
			}

			#nursesIcon{
				padding-top: 20px;
			}

			.list-group-item, #patient {
				background: #e81b2c;
				border: none !important;
				padding: 0 !important;
				margin: 3px;
			}

			#loggedin {
				margin-right: 5px;
			}

			h4{
				display: inline-block;
			}

			.sticky-top, #main {
				margin-top: 20px;
			}

			.td, .th {
				border-radius:15px !important;
			}

			#table-head{
				font-size-adjust: 1;
				text-decoration: underline;
			}

			.card_mod_idex {
				margin-top: 20%;
			}
			.input-group_mod_index {
				margin-top: 5%;
			}
			.card-header {
				background-color: rgba(255, 255, 255, 0);
				border: none;
				padding-bottom: 0;
				color: white;
			}
			.card-body {
				padding-top: 0;
			}
			.maincard {
				background-color: rgba(255, 255, 255, 0.1);
				font-family: 'Open Sans', sans-serif;
			}
			.card-title {
				font-size: 2em;
				line-height: 1;
			}

			#btn-login {
				width: 100%;
				height: 3em;
			}

			#btn-login-window{
				padding-left: 0;
				padding-right: 0;
			}